# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# PowerShell files
[*.{ps1,psm1,psd1}]
indent_style = space
indent_size = 4
end_of_line = crlf

# Markdown files
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2